.selector{
  background-color: #fdcd91;
  height: 500px;
  width: 200px;
  border-style: inset;
  border-width: 3px;
  border-color: #fdcd91;
  background-color: #;
  margin: auto;
  padding: 10px;
  font-style: italic;
  font-weight: bold;
}
.row{
  margin: auto;
  width: 71%;
}
.jumbotron{
  background-color: #fff2ca;
  margin: auto;
  width: 75%;
  padding: 10px;
}
